@import 'variables';

#general-modal{

}

#general-modal, #contact-modal{
  .header{
    font-size: 2rem;
    text-align: center;
  }
}

#map-modal{
  .content{
    height: 40rem;
    padding: 0rem;
    #map{
      height: 100%;
    }
  }
}
