<div class="ui modal" id="general-modal">
  <i class="close icon"></i>
  <div class="header"></div>
  <div class="content"></div>
</div>

<div class="ui modal" id="contact-modal">
  <i class="close icon"></i>
  <div class="header"></div>
  <div class="content"></div>
</div>